In [1]:
# Importing Libraries
import ast
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [2]:
df_DA = df[df['job_title_short'] == 'Data Analyst'].copy()

In [11]:
df_DA['job_posted_date_month_no'] = df_DA['job_posted_date'].dt.month

In [14]:
df_DA_explode['job_skills'] = df_DA_explode['job_skills'].fillna('Unknown')

In [18]:
df_DA_explode['job_posted_month_no'] = df_DA_explode['job_posted_date'].dt.month
df_DA_pivot = df_DA_explode.pivot_table(
    index='job_posted_month_no',
    columns='job_skills',
    aggfunc='size',
    fill_value=0
)

In [20]:
df_DA_pivot = df_DA_explode.pivot_table(index='job_posted_month_no', columns='job_skills',  aggfunc='size', fill_value=0)

df_DA_pivot

job_skills,Unknown,airflow,airtable,alteryx,angular,angular.js,ansible,apl,arch,asana,...,webex,windows,wire,word,workfront,wrike,wsl,xamarin,yarn,zoom
job_posted_month_no,,,,,,,,,,,,,,,,,,,,,
1,4135,197,17,551,63,2,20,2,1,29,...,17,228,6,1778,0,11,6,0,9,95
2,2859,169,2,448,49,0,14,1,4,27,...,9,202,6,1235,4,2,5,0,4,41
3,2732,181,4,442,34,0,23,6,1,17,...,8,194,8,1203,1,1,3,1,5,45
4,2623,155,4,413,22,0,11,8,9,9,...,9,185,14,1177,8,2,1,0,6,26
5,2270,128,8,310,30,0,19,9,2,8,...,11,122,3,957,3,4,0,0,7,18
6,2700,164,14,393,29,0,14,9,4,16,...,8,157,14,1237,6,6,0,0,11,34
7,2933,207,4,366,15,0,8,5,8,19,...,5,161,11,1069,0,3,0,0,6,38
8,3545,197,3,413,21,0,12,10,3,13,...,9,184,11,1298,0,1,0,0,11,41
9,3257,118,4,317,21,0,14,3,10,12,...,4,150,8,945,0,1,0,0,5,25
10,3387,173,11,350,40,0,19,0,8,11,...,4,156,8,990,5,2,0,1,4,39
11,3463,169,7,293,24,0,19,0,5,4,...,4,144,4,887,1,1,1,0,6,26
12,2777,144,10,274,28,0,13,0,8,11,...,6,139,8,786,3,5,0,0,2,37